.popup-container {
	position: fixed;
	inset: 0;
	background-color: var(--dark-gray-trans);
	pointer-events: all;
}
.popup-container:empty {
	position: fixed;
	inset: 0;
	background-color: transparent;
	pointer-events: none;
}

/* ============================== Roll Dice ================================*/

.roll-dice h2 {
	font-size: 3rem;
	margin-bottom: 2rem;
	text-align: center;
}

.roll-dice {
	background-color: var(--light-gray);
	padding: 2rem;
	border: 0.25rem solid black;
	left: 35vw;
	width: 30vw;
	top: 35vh;
	position: absolute;
}

.roll-dice section {
	display: flex;
	justify-content: space-evenly;
}

.roll-dice img {
	width: 7rem;
	margin-bottom: 2rem;
}

.roll-dice input {
	padding: 0.5rem;
	border-radius: 0;
	border: 0;
	background-color: var(--dark-gray);
	display: block;
	width: 7rem;
	height: 3rem;
	margin: 0 auto;
}

.roll-dice p {
	width: 7rem;
	height: 3rem;
	text-align: center;
	margin: 0 auto;
	font-size: 2rem;
	padding-top: 0.5rem;
}

/* ============================== Player info ================================*/

.playerpopup {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	height: 60vh;
}

.playerpopup-content {
	background-color: var(--light-gray);
	padding: 2rem;
	border: 0.25rem solid var(--bar-dark);
	border-top: 0;
	height: 100%;
}

.playerpopup-content > h3 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	text-align: center;
}

.playerpopup-content h2 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	text-align: center;
}

.playerpopup-content .flexcontainer {
	height: 80%;
}

.playerpopup-content .property p {
	background-color: white;
}

/* ============================== Popup ================================*/

.popup {
	position: absolute;
	left: 30vw;
	width: 40vw;
	top: 30vh;
	height: 40vh;
}

.popup-content {
	background-color: var(--light-gray);
	padding: 2rem;
	border: 0.25rem solid var(--bar-dark);
	border-top: 0;
}

.popup-content h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}
.popup-content .html-content li {
	margin: 1rem 0;
	padding: 0.5rem 1rem;
	background: url('../media/Shortcut-0.png') no-repeat bottom left;
	font-family: 'W95FA', 'Courier New', monospace;
	font-weight: bold;
	cursor: pointer;
}

.submit-btns {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 2rem;
}
.submit-btns input {
	padding: 0.5rem;
	border-radius: 0;
	border: 0;
	background-color: var(--dark-gray);
}

.playerpopup-content .properties {
	height: 70%;
}

/* ============================== Tiltle deed ================================*/

.titledeed {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
}

.titledeed-content {
	background-color: var(--light-gray);
	padding: 2rem;
	border: 0.25rem solid var(--bar-dark);
	border-top: 0;
	height: 100%;
}

.titledeed-content > h3 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	text-align: center;
}

.titledeed-content h2 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	text-align: center;
}

.titledeed-content .values {
	display: flex;
	flex-direction: column;
}

.titledeed-content .values .option {
	padding: 0.5rem;
	padding-left: 1rem;
	margin: 0.5rem 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-weight: 600;
	background-size: 2rem;
	text-transform: capitalize;
}
.titledeed-content .values .option p {
	font-size: 1.5rem;
}

.titledeed-content .values .option p.left {
	text-align: left;
}

.titledeed-content .values .option p.right {
	text-align: right;
}
.titledeed-content form input {
	margin: 0 auto;
}

/* ============================== Error ================================*/

.popup.error {
	width: 50vw;
}
.popup.error .popup-content {
	padding-left: 10vw;
	background: url('../media/error.png') 2rem 2rem no-repeat, var(--light-gray);
	background-size: calc(10vw - 4rem);
}
.popup.error .popup-content h2 {
	color: #fa0016;
}
