/* ============================== Popup ================================*/
.popup {
    position: absolute;
    left: 30vw;
    width: 40vw;
    top: 30vh;
    height: 40vh;
}


.popup-content {
    background-color: var(--light-gray-trans);
    padding: 2rem;
    border: 0.25rem solid var(--bar-dark);
    border-top: 0;
}

.popup-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}



.popup-content form input {
    padding: 0.5rem;
    border-radius: 0;
    border: 0;
    background-color: var(--dark-gray);
}

.popup-content .submit-btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}

/* ============================== Roll Dice ================================*/
.roll-dice {
    background-color: var(--light-gray-trans);
    padding: 2rem;
    border: 0.25rem solid black;
    left: 35vw;
    width: 30vw;
    top: 35vh;
    height: 40vh;
    position: absolute;
}

.roll-dice section {
    display: flex;
    justify-content: space-evenly;
}

.roll-dice h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.roll-dice img {
    width: 7rem;
    margin-bottom: 2rem;
}

.roll-dice input {
    padding: 0.5rem;
    border-radius: 0;
    border: 0;
    background-color: var(--dark-gray);
    display: block;
    width: 7rem;
    height: 3rem;
    margin: 0 auto;
}
.roll-dice p{
    width: 7rem;
    height: 3rem;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    padding-top: 0.5rem;
}
/* ============================== Player info ================================*/
.playerpopup {
    position: absolute;
    left: 35vw;
    width: 30vw;
    top: 20vh;
    height: 60vh;
}

.playerpopup-content {
    background-color: var(--light-gray-trans);
    padding: 2rem;
    border: 0.25rem solid var(--bar-dark);
    border-top: 0;
    height: 100%;
}

.playerpopup-content>h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.playerpopup-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.playerpopup-content .flexcontainer{
    height: 80%;
}

.playerpopup-content .property p{
    background-color: white;
}